BODY {
  font-family: 'Open Sans', sans-serif;
  color: #FFFFFF;
  background-color:#000000;
  text-align: center;
}
H1 {
  font-size: 24px;
}

#colorTurn {
  font-size: 18px;
}

#grid {
  margin: 20px auto;
  display: table;
  width: 410px;
  height: 410px;
  padding: 0px;
  border-collapse: collapse;
  background: #129104;
  border: 1px solid #0a5e01;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
   border-spacing: 5px 5px;
}

.row {
  display: table-row;
}

.cell {
  display: table-cell;
  width: 40px;
  height: 40px;
  border: 1px solid #000000;
  padding: 4px;
}

.disc {
  width: 36px;
  height: 36px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 2px;
  background-color: #fff;
}

.disc2 {
  width: 36px;
  height: 36px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  margin: 2px;
  background-color: #000000;
}